.emacs.d/auto-save-list/*
.emacs.d/.org-id-locations
*~
\#*#
*#*
session.*
archive-contents
builtin-packages
.project-roots
tramp
temp
.emacs.desktop
.emacs.desktop.lock
el-get
*.elc
TAGS
.emacs.d/ac-comphist.dat
