[user]
        name = Roman Kalinichenko
        email = romankrv@gmail.com

[sendemail]
        smtpserver = smtp.gmail.com
        smtpserverport = 587
        smtpencryption = tls
        smtpuser = romankrv@gmail.com
[alias]
        st = status
        co = checkout
        d = diff
        br = branch
[core]
        editor = emacs -nw -Q

[push]
        default = current